<nav>
    <div class="nav-wrapper purple"> 
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down purple lighten-1">
        <li><a routerLink="/admin/get">Usuarios</a></li>
        <li><a routerLink="/encomiendas/get">Encomiendas</a></li>
        <li><a routerLink="/clientes/get">Clientes</a></li>
        <li><a routerLink="/servicios/get">Servicios</a></li>
        <li><a routerLink="/seguridad/login">Login</a></li>
      </ul>
    </div>
  </nav>